# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django stuff
*.sqlite3
*.log
*.pot
/static/
/media/

# Ignore migrations except __init__.py
**/migrations/*.py[cod]
**/migrations/__pycache__/

# Optional: ignore all migrations (uncomment if you prefer)
# **/migrations/

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
